@import 'variables';

.btn {
  border-radius: 4px;
  letter-spacing: 0.4px;
  font-weight: $normal;
  font-size: 1rem;
}

.btn-chunky {
  box-shadow: 0 4px 0 0 rgba(56, 64, 76, 0.1);
}

.btn-primary {
  background-color: $blue-button !important;
  border: 1px solid rgba(16, 36, 82, 0.08) !important;

  .disabled {
    opacity: 0.4;

    &:hover {
      cursor: normal;
    }
  }

  &:focus {
    box-shadow: none !important;
  }
}

.btn-remove {
  color: #FFFFFF !important;
  background-color: #F63F47 !important;
  border: 1px solid rgba(16, 36, 82, 0.08) !important;
}

.btn-md, .btn-lg {
  font-size: 1rem !important;
  line-height: 1 !important;
}

.btn-lg {
  padding: 1rem 2rem !important;
}

.btn-add {
  background: white;
  box-shadow: 0 2px 0 0 rgba(56, 64, 76, 0.04);
  border: 1px solid $grey-border !important;
  cursor: pointer;
  position: relative;
  font-weight: bold !important;
  line-height: 1 !important;
  padding: 8px 12px 8px 40px !important;
  color: $black;
  font-size: 0.9rem !important;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #198cff url('./assets/images/icon-add.svg') no-repeat center center;
  }
}

.btn-transparent {
  background: transparent !important;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-text {
  background: transparent;
  color: $grey-text;

  &:hover {
    color: $black;
  }
}

.btn-alternate {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(56, 64, 76, 0.04);
  padding: 8px 16px 10px;
  border: 1px solid $grey-border;

  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  &--primary {
    background-color: $blue-button;
    color: $white;
  }

  &--inverse {
    background-color: $white;
    color: $black;
  }
}
