@import 'variables';

.marketplace {
  min-width: 1000px;

  .onboarding-secondary-head, .onboarding-subhead {
    text-align: left;
  }

  &__application-section {
    border-top: 1px solid $grey-border;
  }
}

.marketplace__pool-row {
  cursor: pointer;

  &:hover td {
    background: $blue-row;
  }
}

.marketplace__pool-row--selected td {
  background: $blue-row;
}

.marketplace__pool-input {
  width: 400px;
}
