@import 'variables';

.marketplace {
  min-width: 850px;

  /*.onboarding-secondary-head, .onboarding-subhead {
    text-align: left;
  }*/
}

.marketplace__pool-row {
  cursor: pointer;

  &:hover td {
    background: $blue-row;
  }
}

.marketplace__pool-row--selected td {
  background: $blue-row;
}
