@import 'variables';

.onboarding-head {
  font-size: 44px;
  line-height: 1.05;
  letter-spacing: 0.4px;
  text-align: center;
}

.onboarding-head--mini {
  font-size: 36px;
}

.onboarding-secondary-head {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.64;
  letter-spacing: 0.5px;
  text-align: center;
}
