@import 'variables';

.pool-selection {
  min-width: 850px;

  .onboarding-secondary-head, .onboarding-subhead {
    text-align: left;
  }
}

.pool-selection__pool-row {
  cursor: pointer;

  &:hover td {
    background: $blue-row;
  }
}

.pool-selection__pool-row--selected td {
  background: $blue-row;
}

.pool-selection__pool-input {
  width: 400px;
}

