.status-card__title {
  .status-card__tooltip {
    display: inline-block;
  }
}

.status-card__icon {
  display: inline-block;
  vertical-align: top;
}

.status-card__content {
  padding: 0 0.7rem;
  max-width: 552px;
  vertical-align: top;
  display: inline-block;
}

