.wallet-balance {
  &__balance {
    &--top,
    &--bottom {
      padding: 16px 0px;
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--GLA {
      border-radius: 4px;
      background-color: #31C7C3;
      text-align: center;
      padding: 0 0.4rem;

      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: $white;
      }
    }

    &--ETH {
      border-radius: 4px;
      background-color: #3C3C3D;
      text-align: center;
      padding: 0 0.4rem;

      p {
        color: $white;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    &--warning {
      background-color: #FFFBCC;
      border: 1px solid rgba(16, 36, 82, 0.08);
      border-radius: 4px;
      padding: 0.9rem 0.5rem;

      p {
        text-align: center;
        font-size: 0.8rem;
        color: #737065;
      }
    }

    &--tooltip {
      display: inline-block;
    }
  }

  &__balance-top--header,
  &__balance-bottom--header,
  &__balance-top--content,
  &__balance-bottom--content {
    p, img {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__balance-top--current,
  &__balance-bottom--processing {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      font-size: 2.5rem;
      margin-right: 0.5rem;
    }
  }

  &__balance-top--current,
  &__balance-bottom--processing,
  &__balance--GLA,
  &__balance--ETH {
    display: inline-block;
    vertical-align: middle;
  }

  &__balance-top--header {
    img {
      margin-right: 0.5rem;
    }
  }

  &__balance-bottom--header {
    img {
      margin-left: 0.5rem;
    }
  }

  &__balance-bottom {
    &--header,
    &--processing {
      p {
        color: $grey-text;
      }
    }
  }
}
