@font-face {
  font-family: 'HankenGrotesk-Bold';
  src: url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.eot');
  src: url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.woff2') format('woff2'),
       url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.woff') format('woff'),
       url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.ttf') format('truetype'),
       url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.svg#HankenGrotesk-Bold') format('svg'),
       url('./assets/fonts/hanken-grotesk/HankenGrotesk-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

