@import 'variables';

@import 'buttons';
@import 'card';
@import 'comingSoon';
@import 'copyText';
@import 'countryList';
@import 'countryTooltip';
@import 'dashboardHome';
@import 'drawerContentSplit';
@import 'email';
@import 'expectedUsage';
@import 'fakeDropdown';
@import 'funnelSteps';
@import 'getSecure';
@import 'gettingStarted';
@import 'halfCard';
@import 'hiddenValueInput';
@import 'home';
@import 'manualPoolApply';
@import 'manageBalance';
@import 'marketplace';
@import 'masthead';
@import 'mastheadContentSplit';
@import 'modal';
@import 'navigation';
@import 'onboardingField';
@import 'onboardingHead';
@import 'onboardingSubhead';
@import 'passphraseForm';
@import 'poolSelection';
@import 'poolStatusTable';
@import 'poolTable';
@import 'ratingTooltip';
@import 'sliderTooltip';
@import 'starRating';
@import 'statusCard';
@import 'table';
@import 'timeDropdown';
@import 'tooltip';
@import 'transactionsTable';
@import 'typeToConfirmModal';
@import 'walletBalance';
@import 'walletPage';
@import 'viewApplicationModal';

@import 'assets/fonts/hanken-grotesk/font';

html, body, #root {
  height: 100%;
}

body {
  background: $off-white;
  font-family: 'overpass', sans-serif !important;
  color: $black;
  height: 100%;
}

.text-muted {
  color: $grey-text;
}

.full-height {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0 !important;

  input, textarea {
    margin-bottom: 32px;

    &.is-invalid {
      margin-bottom: 0;
    }
  }

  .invalid-feedback {
    display: inline;
    max-height: 1rem;
    margin: 0.5rem 0;
  }
}

.toasts {
  position: fixed;
  opacity: 0.96;
  width: 100%;
  display: table;
  text-align: center;
  top: 0;
  z-index: 99999999999;

  &:hover {
    cursor: pointer;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
  }

  .toasts__toast {
    padding: 0.8rem 0;
  }

  .success {
    background-color: #22C97E;
    color: $white;
  }

  .warning {
    background-color: #f63f47;
    color: $white;
  }
}

.gla {
  color: white;
  background: #31c7c3;
  border-radius: 4px;
  padding: 5px;
  font-size: 10px;
}

.eth-icon {
  height: 26px;
  width: 16px;
  object-fit: cover;
}

.hide {
  display: none !important;
}

.absolute {
  position: absolute !important;
}

.sub-text {
  font-weight: 200;
}

.text-center {
  text-align: center;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.fixed-bottom-row {
  background: white;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.10);

  button {
    margin-bottom: 20px !important;
  }
}
